QDRANT_URL=http://localhost:6333

# leave empty for local, set for cloud/prod
QDRANT_API_KEY=                        

# HuggingFace model name
EMBEDDING_MODEL=

# 1 = use CUDA for embeddings, 0 = CPU
USE_GPU=1  
