python-dotenv
qdrant-client
sentence-transformers
docling
PyMuPDF
langchain
langchain-experimental
langchain-huggingface
tqdm
fastapi
uvicorn[standard]
google-generativeai
pydantic-settings
rank-bm25
httpx
neo4j
sqlalchemy[asyncio]
asyncpg
psycopg2-binary
ragas
datasets